

.modalOverlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {


    display: flex;



    &LeftFrame {

        display: flex;
        align-items: center;
        justify-content: center;


        // small spacing issue
        //   vertical-align: bottom;
        line-height: 0;


        background-image: /* tint image */
        linear-gradient(to right, rgba(255, 255, 255, .75), rgba(255, 255, 255, .75)),
        /* checkered effect */
        linear-gradient(to right, black 50%, white 50%),
        linear-gradient(to bottom, black 50%, white 50%);


        background-blend-mode: normal, difference, normal;
        background-size: 1em 1em;

    }

    &RightFrame {

        background-color: white;

    }
}



    //background-color: rebeccapurple;

    // border-radius: 0 00 00 0;
    // overflow: hidden;



        // background-color: #fff;
        // background-image: linear-gradient(
        //     45deg,
        //     #000 25%,
        //     transparent 25%,
        //     transparent 75%,
        //     #000 75%,
        //     #000
        //   ),
        //   linear-gradient(
        //     90deg,
        //     #000 25%,
        //     transparent 25%,
        //     transparent 75%,
        //     #000 75%,
        //     #000
        //   );
        // background-size: 32px 32px;
        // background-repeat: repeat;



        // background-color: red;

        // background-image: 
        // linear-gradient(45deg, #ffffff 25%, transparent 25%), 
        // linear-gradient(-45deg, #ffffff 25%, transparent 25%), 
        // linear-gradient(45deg, transparent 75%, #ffffff 75%), 
        // linear-gradient(-45deg, transparent 75%, #ffffff 75%);

        // background-size: 32px 32px;
        // background-position: 0 0, 0 16px, 16px -16px, -16px 0px;




// .modalWrapper {
//     width: 90vw; /* 90% of viewport vidth */
//     height: 50.625vw; /* ratio = 9/16 * 90 = 50.625 */
//     background: red;
//     max-height: 90vh;
//     max-width: 160vh; /* 16/9 * 90 = 160 */
//     margin: auto;
//     position: absolute;
//     top:0;bottom:0;
//     left:0;right:0;

//     .modal {
//         background-color: green;
//         border-radius: 12px;

//         position: absolute;
//         top: 0; right: 0; bottom: 0; left: 0;

//         display: flex;
//     }

// }










// .modalWrapper {

//     background-color: red;
//     margin: 120px;

//     width: 1584px;
//     //height: 1096px;
//     position: relative;

//     &::after {
//         padding-top: calc(1096 / 1584 * 100%);
//         display: block;
//         content: '';
//     }



//     .modal {
//         position: absolute;
//         top: 0; right: 0; bottom: 0; left: 0;
//         padding: 24px;

//         display: flex;

//         background-color: green;
//         border-radius: 12px;

//         .modalLeftFrame {
//             flex-basis: 50%;
//             background-color: black;
//         }
    
//         .modalRightFrame {
//             //position: absolute;
//             flex-basis: 50%;
//             background-color: white;
//         }
//     }
// }


